* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navigation */
.nav-top {
  display: none;
}

.nav-bottom {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.logo-nav img {
  width: 106px;
  background-color: #000;
  padding: 16px 20px;
}

.nav-bottom .nav-bottom-text {
  display: none;
}

.nav-bottom-icon {
  padding: 16px 20px;
  border-left: 1px solid #aaa;
}

.nav-icon {
  padding: 16px 20px;
  border-left: 1px solid #aaa;
}

/* Main */
.main {
  margin: 2px;
}
/* Heading */
.heading {
  height: 75vh;
  max-height: 560px;
  display: grid;
  grid-template-columns: 66.666% 33.333%;
  grid-gap: 10px;
  color: #fff;
}

.heading ul li a {
  color: #fff;
}

.heading-one {
  position: relative;
}

.heading-one :first-child {
  width: 100%;
  height: 60vh;
  position: relative;
}

.heading-one .logo img {
  position: absolute;
  width: 35%;
  height: max-content;
  top: 20px;
  left: 20px;
}

#date {
  position: absolute;
  width: 20rem;
  height: max-content;
  top: 20px;
  right: 20px;
}

.heading-one .title {
  position: absolute;
  height: 10rem;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  left: 20px;
}


.heading-two .part-1 img, .heading-two .part-2 img {
  width: 100%;
  height: 30vh;
}

.heading-two .part-1, .heading-two .part-2 {
  position: relative;
}

.heading-two .part-1 h2 {
  position: absolute;
  bottom: 20px;
}

.heading-two .part-2 .title {
  position: absolute;
  bottom: 20px;
}

.title ul {
  list-style-type: none;
}

@media only screen and (min-width: 200px) {
  .nav-top {
    display: block;
  }

  .nav-top nav {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
  }
  
  .nav-top nav ul {
    display: flex;
  }
  
  .nav-top nav ul li {
    margin: 5px 10px;
  }
  
  .nav-top li a {
    color: hsla(0,0%,100%,.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  
  .nav-bottom {
    display: flex;
    justify-content: space-between;
    height: 48px;
    color: #aaa;
  }
  
  .nav-bottom div {
    display: inline-flex;
  }
  
  .logo-nav img {
    width: 106px;
    background-color: #000;
    padding: 16px 20px;
  }
  
  .nav-bottom-text ul {
    display: inline-flex;
  }
  
  .nav-bottom .nav-bottom-text {
    display: flex;
    align-items: center;
  }
  
  .nav-bottom-text ul li {
    margin: 0 10px;
    text-transform: uppercase;
  }
  
  .nav-bottom-text ul li a {
    color: #aaa;
  }
  
  .nav-bottom-text ul li a:hover {
    color: #000;
  }
  
  .nav-bottom-icon:hover {
    color: #000;
  }
  
  .hidden:hover {
    display: block;
  }

  /* .latest-news .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
  }
  
  .news-items figure img {
    max-width: 250px;
  } */
}